.App {
  display: flex;
}

.music-block {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: black 2px solid;
}

.on {
  background-color: gray
}

.off {
  background-color: white;
}

.selected {
  border: orange 2px solid
}
